- if (not flash[:error].nil?) and (not flash[:error].empty?)
  .alert.alert-danger
    - flash[:error] = flash[:error].kind_of?(Array) ? flash[:error] : [flash[:error]]
    - flash[:error].each do |error|
      = error
      %br/
- unless notice.nil?
  .alert.alert-success
    = notice
= render :partial=>'order_navs'
= form_tag "", id: "orders", method: :post do
  .pull-right.col-md-5.col-lg-5
    = link_to "导出选中订单", export_order_backend_shop_branch_orders_path(@current_shop, @current_branch, format: :csv), class: "btn btn-default submit_link"
    - unless Order.allow_batch_change_state(params[:state]).empty?
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          批量修改状态
          %span.caret
        %ul.dropdown-menu
          - Order::get_state_items_by_states(Order.allow_batch_change_state(params[:state])).each do|state_item|
            %li
              = link_to state_item[0], batch_change_state_backend_shop_branch_orders_path(@current_shop.slug, @current_branch, to_state: state_item[1], state: params[:state]), class: "submit_link"
  .col-md-12.col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th.col-xs-1= check_box_tag "全选"
          %th.col-xs-1 订单编号
          %th.col-xs-1 姓名
          %th.col-xs-2 下单信息
          %th.col-xs-2 订单金额
          %th.col-xs-1 订单状态
          %th.col-xs-2 下单时间
          %th 操作
      %tbody
        - @orders.each do |order|
          <tr
          - if order.state == Order::WAIT_CONFIRMED
            style="font-weight:bold;font-size:14px;"
          data-order-info="#{raw(order_detail_in_text(order))}">
          %td= check_box_tag "order_ids[]", order.id
          %td= order.id
          %td= order.name
          %td
            下单方式：
            %strong= order.order_type_name
            %br/
            支付方式：
            %strong= order.pay_type_name
          %td
            付款金额：
            %strong
              = number_to_currency(order.cash_amount, :unit=>@current_shop.current_currency_symbol)
              元
            %br/
            总计：
            %strong
              = number_to_currency(order.amount, :unit=>@current_shop.current_currency_symbol)
              元
            %br/
            - if order.is_online_pay?
              支付状态：
              - if order.is_paid?
                %span.label.label-success 已支付
              - else
                %span.label.label-danger 未支付
          %td
            - if order.state == Order::WAIT_CONFIRMED
              %span.label.label-danger 新订单
            = order.state_name
          %td= order.created_at.strftime('%Y-%m-%d %H:%M')
          %td
            = link_to t('Show'), backend_shop_branch_order_path(@current_shop.slug, @current_branch, order, {page:params[:page]}), class: "btn btn-default"
            = link_to "打印", "javascript:void(0)", class: "btn btn-default print-btn"
            - unless order.allow_change_state_for_admin?.empty?
              .btn-group
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  改变订单状态为
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  - Order::get_state_items_by_states(order.allow_change_state_for_admin?()).each do|state_item|
                    %li= link_to state_item[0], change_state_backend_shop_branch_order_path(@current_shop.slug, @current_branch, order.id, state:state_item[1]), method: :post
%div{:style => "min-height:60px;"}
  .pull-right
    = will_paginate @posts, renderer: BootstrapPagination::Rails, bootstrap: 3
:javascript
  $(document).ready(function(){
  		$('.print-btn').on('click', print_on_web_page);
      $(".submit_link").on('click', function(event){
        event.preventDefault(event);
        var form = $('#orders')
        form.attr('action', $(this).attr('href'));
        form.submit();
      });
      $("#orders .table > thead input[type=checkbox]").click(function(){
        if($(this).is(':checked')){
          $("#orders .table > tbody input[type=checkbox]").prop('checked', true);
        }else{
          $("#orders .table > tbody input[type=checkbox]").prop('checked', false);
        }
      });
    });
