- content_for :title do
  关于本店
.body
  .m-1
    - unless @current_branch.notice.nil?
      %section.alert.alert-info.m_0010{:style => "text-align:center;"}
        %strong
          = Branch.human_attribute_name("notice")
          \:
        = @current_branch.notice
    .radius-box
      %strong
        = Branch.human_attribute_name("name")
        \:
        = @current_branch.name
      %br/
      %strong
        = Branch.human_attribute_name("introduction")
        \:
        = @current_branch.introduction
      %br/
      %strong
        = Branch.human_attribute_name("use_min_order_charge")
        \:
        - if @current_branch.use_min_order_charge
          有
        - else
          无最小起送
      %br/
      - if @current_branch.use_min_order_charge
        %strong
          = Branch.human_attribute_name("min_order_charge")
          \:
          = number_to_currency(@current_branch.min_order_charge, :unit=>currency_symbol)
        %br/
        -if @current_branch.delivery_zones.present?
          %strong
            外送费
            \:
            %br/
            -@current_branch.delivery_zones.each do |zone|
              = zone.zone_name
              = number_to_currency(zone.charge, :unit=>currency_symbol)
              %br/
        %strong
          = Branch.human_attribute_name("service_period")
          \:
          = @current_branch.service_period_start.strftime('%H:%M')
          ——#{@current_branch.service_period_end.strftime('%H:%M')}
        %br/
      - if @current_branch.telephone.present?
        %strong
          联系方式:
          %a{:href => "tel:#{@current_branch.telephone}"}= @current_branch.telephone
      %strong
        = Branch.human_attribute_name("address")
        \:
        = @current_branch.address
      %br/
      %strong
        = Branch.human_attribute_name("zip_code")
        \:
        = @current_branch.zip_code
      %br/
      %strong
        = Branch.human_attribute_name("location")
        \:
        %br/
        %img{:src => location_img({:location_x => @current_branch.latitude, :location_y=>@current_branch.longitude, :width=>250, :height=>240, :zoom=>13})}/