= simple_form_for @order, url: webstore_order_path(@current_shop, @branch) do |f|
  %fieldset
    %legend 我的篮子
    %table.table
      %thead
        %tr
          %th 菜品图片
          %th.col-xs-4.col-md-6 菜单名
          %th.col-xs-2.col-md-1 单价
          %th.col-xs-2.col-md-1 数量
          %th.col-xs-2.col-md-1 小计
      %tbody
        -@order.order_items.each do |order_item|
          %tr
            %td= image_tag order_item.product.image.url, style: "width:90px;height:90px;"
            %td.col-xs-4.col-md-6= order_item.name
            %td.col-xs-2.col-md-1= price_with_currency_tag order_item.price.round(2)
            %td.col-xs-2.col-md-1= order_item.quantity
            %td.col-xs-2.col-md-1= price_with_currency_tag (order_item.quantity*order_item.price).round(2)
    %hr/
    %span.total.right
      总计：
      %strong{style: "color:red"}= "￥#{price_view @total}"
    = f.simple_fields_for :order_items do |order_item|
      = order_item.hidden_field :name
      = order_item.hidden_field :price
      = order_item.hidden_field :quantity
      = order_item.hidden_field :product_unit
      = order_item.hidden_field :product_id
  - @order.errors.full_messages.each do |m|
    %strong{style: "color:red;"}= m
    %br/
  %fieldset
    %legend 配送信息
    .form-group
      = f.label :order_type, class: "control-label col-xs-4 col-md-3 glyphicon glyphicon-cutlery"
      .col-xs-8.col-md-9
        = t "order.order_type.#{@order.order_type}"
        = f.hidden_field :order_type, class: "form-control"
    .form-group
      = f.label :name, class: "control-label col-xs-4 col-md-3 glyphicon glyphicon-user"
      .col-xs-8.col-md-9
        = @order.name
        = f.hidden_field :name, class: "form-control", required: :required
    .form-group
      = f.label :phone, class: "control-label col-xs-4 col-md-3 glyphicon glyphicon-phone"
      .col-xs-8.col-md-9
        = @order.phone
        = f.hidden_field :phone, class: "form-control", required: :required
    .form-group.delivery
      = f.label :address, class: "control-label col-xs-4 col-md-3 glyphicon glyphicon-home"
      .col-xs-8.col-md-9
        = @order.address
        = f.hidden_field :address, class: "form-control"
    .form-group.not_delivery
      = f.label :desk_no, class: "control-label col-xs-4 col-md-3"
      .col-xs-8.col-md-9
        = @order.desk_no
        = f.hidden_field :desk_no, class: "form-control", placeholder: ""
    .form-group.not_delivery
      = f.label :guest_num, class: "control-label col-xs-4 col-md-3"
      .col-xs-8.col-md-9
        = f.hidden_field :guest_num, class: "form-control", placeholder: ""
    -@order.form_contents.each do |form_content|
      .form-group
        %label.control-label.col-xs-4.col-md-3= form_content.label
        .col-xs-8.col-md-9= form_content.content
    = f.simple_fields_for :form_contents do |form_content|
      = form_content.hidden_field :form_element_id
      = form_content.hidden_field :label
      = form_content.hidden_field :content
    .form-group
      = f.label :note, class: "control-label col-xs-4 col-md-3 glyphicon glyphicon-edit"
      .col-xs-8.col-md-9
        = @order.note
        = f.hidden_field :note, class: "form-control", cols: 50, rows: 5
    .form-group
      = f.label :pay_type, class: "control-label col-xs-4 col-md-3 glyphicon glyphicon-credit-card"
      .col-xs-8.col-md-9
        = @order.pay_type
        = f.hidden_field :pay_type, class: "form-control", disabled: :disabled, placeholder: "货到付款。微信商铺支持更多支付方式哟！"
  %center= f.submit '确认并提交订单', class: "btn btn-primary"
:javascript
  document.ready = function(){
    if($("#new_order_webstore #order_webstore_order_type").val() == "delivery"){
      $(".not_delivery").hide();
      $(".delivery").show();
    }else{
      $(".not_delivery").show();
      $(".delivery").hide();
    }
  };