
<%= search_form_for @q, url: get_search_sms_msg_path, class: "navbar-form", method: :post do |f|%>
  <div class="form-group">
    <%= f.text_field :to_eq, class: "form-control", placeholder: User.human_attribute_name("phone") %>
  </div>
  <% if @current_barnch%>
    <div class="form-group">
      <%= f.select :branch_id_eq, options_for_select(([["全部", ""]] + @current_shop.branches.map{|branch| [branch.name, branch.id]} ), (params[:q][:branch_id_eq] rescue nil)), {prompt: "商户名" }, {class: "form-control"} %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.select :time_gteq, options_for_select([["全部", ""], ["最近一天", "day"], [ "最近一周", "week"], ["最近一月", "month"], ["最近一年", "year"]], selected: (params[:q][:time_gteq] rescue nil)), {prompt: "发送时间段" }, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.select :order_msg_type_eq, options_for_select(get_sme_msgs_type_array, selected: (params[:q][:order_msg_type_eq] rescue nil)), {prompt: "选择消息类型" }, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.submit "搜索", class: "btn btn-default" %>
  </div>
<% end %>