<div class="row-fluid">
	<div class="span6">
<%= form_for(article, url: form_url,  html: {multipart: true, class: "form-horizontal", role: "form"} ,remote: true) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "个错误") %>导致无法正确保存：</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title , class: "col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :position , class: "col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.select "position", options_for_select(get_article_position_select_option(@material.articles), selected: (@material.articles.index(@article) + 1)),{} ,class: "form-control"%>
    </div>
  </div>


  <div class="field form-group">
    <%= f.label :image , class: "col-sm-2 control-label"%>
    <div class="col-sm-7">
      <%= f.file_field :image, class: "form-control"  %>
      <small>第一个章节将在微信中显示为大图片，建议尺寸为740像素*400像素,其他图片将显示为小图片，建议尺寸为400像素*400像素,图片大小不得超过0.5MB。</small>
    </div>
  </div>
  <div class="field form-group" id="introduction">
    <%= f.label :introduction , class: "col-sm-2 control-label"%>
    <div class="col-sm-6">
      <%= f.text_area :introduction, :rows=>5, :cols=>50 %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :support_promotion , class: "col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.check_box :support_promotion, class: "ace ace-switch ace-switch-4" %>
      <span class="lbl"></span>
    </div>
  </div>
  <div class="field form-group" id="expiration_time">
    <%= f.label :expiration_time , class: "col-sm-2 control-label"%>
    <div class="col-sm-6">
      <%= f.datetime_select :expiration_time, :rows=>5, :cols=>80 %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :link_type , class: "col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.select :link_type, options_for_select(article_link_type_selsec_options, article.link_type) ,class: "form-control" %>
    </div>
  </div>
  <div class="field form-group" id="article_url_field">
    <%= f.label :url , class: "col-sm-2 control-label"%>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :url, class: "col-md-3 form-control" %>
        </div>
        <div class="col-md-3">
          <span class="middle" id="insert-url_button">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              自动插入 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <% url = @current_shop.enable_new_version ? client_weixinpay_url(@current_shop.slug) : list_mobile_shop_branches_url(@current_shop.slug)  %>
                <li><a class="auto-insert-url" data-url="<%= url %>" href="#">本账号网址</a></li>
                <li class="divider"></li>
                <% unless @current_shop.enable_new_version %>
                  <% @current_shop.all_branches.each do |branch| %>
                  <li><a href="#" class="auto-insert-url" data-url="<%= list_mobile_shop_branch_products_url(@current_shop.slug, branch) %>">商户"<%= branch.name%>"网址</a></li>
                  <%end%>
                <% end %>
              </ul>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :description , class: "col-sm-2 control-label"%>
    <div class="col-md-10">
      <%= f.cktext_area :description, :ckeditor => {:language => "zh-cn"} %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class:'btn btn-primary'%>
  </div>
<% end %>
</div>
</div>

<script type="text/javascript">
	function insert_shop_url(event){
		event.preventDefault(event);
		$('#article_url').val($(event.target).data('url'));
		return false;
	}
  function hideInput(){
    $('#article_url_field').hide();
    $('#insert-url_button').hide();
    $('#article_link_type').closest('.field').show();
    $('#expiration_time').hide();
  }

  function changeEvent(eventType){
    hideInput();
    if(eventType === 'article'){
      $('#article_description').closest('.field').show();
    }else if(eventType === 'shop_or_branch'){
      $('#article_url_field').show();
      $('#insert-url_button').show();
      $('#article_description').closest('.field').hide();
    }else if(eventType === 'other_web_link'){
      $('#article_url_field').show();
      $('#article_description').closest('.field').hide();
    }
  }

  function check_support_promotion(){
    hideInput();
    if($('#article_support_promotion').is(':checked')){
      $('#expiration_time').show();
      $('#article_link_type').val("<%= Article::ARTICLE_SHOW_LINK%>")
      $('#article_link_type').closest('.field').hide();
      $('#article_description').closest('.field').show();
    }else{
      $('#expiration_time').hide();
    }
  }

  $(document).ready(function(){
    $('.auto-insert-url').click(insert_shop_url);
    check_support_promotion();
    $('#article_link_type').change(function(e) {
      changeEvent(e.target.value);
    });
    $("#article_support_promotion").click(function(){
      check_support_promotion();
    });
    changeEvent("<%= article.link_type%>");
  })


</script>
