%p#notice= notice
.panel.panel-default
  .panel-heading 代理区域详情
  .panel-body
    %p
      %b
        = AgentZone.human_attribute_name(:name)
      \:
      = @agent_zone.name
    %p
      %b
        = AgentZone.human_attribute_name(:parent_agent_zone_id)
      \:
      = @agent_zone.parent_agent_zone.name if @agent_zone.parent_agent_zone.present?
    %table.table.table-striped.table-bordered
      %thead
        %th= AgentZone.human_attribute_name(:sub_agent_zones)
        %th= AgentZone.human_attribute_name(:agents_count)
      %tbody
        - @agent_zone.sub_agent_zones.each do |agent_zone|
          %tr
            %td= link_to agent_zone.name, [:backend, agent_zone]
            %td= agent_zone.agents_count

= link_to t('Edit'), edit_backend_agent_zone_path(@agent_zone), :class=>"btn btn-default"
\|
= link_to t('Back'), backend_agent_zones_path, :class=>"btn btn-default"
