<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>尊敬的会员, <storng><%= @account.name %></storng></p>
    <p>
      您好！</p>
    <p>感谢您开通微信点单服务，与融商共同迎接新的网络营销浪潮巅峰。
      请牢记您的账户和密码并妥善保管,您的会员信息如下:
     </p>
     <p>
     	用户名: <%= @account.login_id %><br/>
     	电子邮箱:<%= @account.email %><br/>
     	手机:<%= @account.phone %>
    </p>

    <p>
      登陆管理后台请直接点击如下链接: <%= link_to @url, @url %> 。
    </p>
    <p>密码关系到您帐户资金及其它服务的安全，请务必妥善保管。
同时，请及时更新完善您的会员信息以便保证我们为您提供服务。</p>
    <p>如有任何疑问，请直接拨打<%= @shop.hide_support_company? ? @shop.telephone : "0731-89903595" %>
      与我们取得联系，谢谢！</p>
  </body>
</html>