%h1 二维码推广记录列表
%table.table.table-striped
  %thead
    %tr
      %th 推广者
      %th 受众用户数
      %th
  %tbody
    - if @current_shop.is_multipe_base_version?
      %th{colspan: 4}= "#{@current_shop.version_name}不支持推广相关功能"
    -else
      - if @current_shop.is_multipe_base_version?
        %th{:colspan => "4"}
          = @current_shop.version_name
          不支持推广相关功能
      - else
        - @users.each do |user|
          %tr
            %th= link_to (user.name || user.fake_user_name),promotion_user_backend_shop_qrcode_generalizes_path(@current_shop, user_id: user.id), remote: true
            %td
              = user.audiences.size
            %td= link_to "查看推广详情", user_generalizes_backend_shop_qrcode_generalizes_path(@current_shop, user_id: user.id) ,class: "btn btn-primary"
.pull-right
  = will_paginate @users, renderer: BootstrapPagination::Rails, bootstrap: 3

.modal.fade#user_info{tabindex: "-1", role: "dialog", aria: {labelledby: "myModalLabel", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", aria: {hidden: "true"}, data: {dismiss: "modal"}}
          &times;
        %h4.modal-title{id: "myModalLabel"}
          用户信息
      .modal-body
