<div class="alert alert-warning">
  友情提示：腾讯微信公众帐号最多允许新建3个一级菜单，每个一级菜单最多包含5个子菜单.
  <br/>
  <strong>请在每次修改菜单选项后务必点击“同步微信客户端菜单”使您的菜单生效</strong>
</div>
<div class="col-md-12">
  <div style="float:left;width:30%">
  	<h1><%= t "Listing menus" %><small><%= @system_config.public_account_name%></small></h1>
  </div>
  <div style="float:right;width:70%;height: 60px;line-height: 60px;text-align:right;">
  	<%= link_to '新建根菜单', new_backend_shop_system_config_menu_path(@current_shop.slug, @system_config), :class => 'btn btn-success' %>

  	<%= link_to t('async menu with weixin client'), async_backend_shop_system_config_menus_path(@current_shop.slug, @system_config), :class => 'btn btn-primary' %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        其他 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
          <%= link_to t('preview menu json'), preview_json_backend_shop_system_config_menus_path(@current_shop.slug, @system_config) ,:target => '_blank'%>
        </li>
        <li>
        <%= link_to "复制菜单到其他公众号", '#copy-to-system-config-modal', :"data-toggle"=>"modal" %>
        </li>
      </ul>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>父菜单</th>
      <th>素材名或关键词或<%= Menu.human_attribute_name('url')  %></th>
      <th><%= t "operation btn"%></th>
    </tr>
  </thead>

  <tbody>
    <% @root_menus.each do |menu| %>
      <tr>
        <td rowspan="2"><%= menu.name %></td>
        <td>
        <%= (menu.event_type == 'click') ? menu.key_value_name : menu.url %>
        </td>
        <td>
          <%= link_to '新建子菜单', new_backend_shop_system_config_menu_path(@current_shop.slug, @system_config, :parent_menu_id=>menu.id), :class => 'btn btn-success' %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              操作<span class="caret"></span>
            </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><%= link_to t('Show'), backend_shop_system_config_menu_path(@current_shop.slug,@system_config ,menu) %></li>
                <li>
                <%= link_to t('Edit'), edit_backend_shop_system_config_menu_path(@current_shop.slug,@system_config, menu)%></li>
                <li><%= link_to "从当前公众账号中移除该菜单按钮", backend_shop_system_config_menu_path(@current_shop.slug,@system_config, menu, delete: false), method: :delete, data: { confirm: "确定要从当前公众账号中移除该菜单按钮\"#{menu.name}\"吗?" }%></li>
                <li><%= link_to "从所有公众账号中中删除该菜单按钮", backend_shop_system_config_menu_path(@current_shop.slug,@system_config, menu, delete: true), method: :delete, data: { confirm: "确定要从所有公众账号中中删除该菜单按钮\"#{menu.name}\"吗?" }%></li>
              </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <% if menu.submenus.empty? %>
            无子菜单
          <% else %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>子菜单</th>
                  <th>素材名或关键词或<%= Menu.human_attribute_name('url')  %></th>
                  <th><%= t "operation btn"%></th>
                </tr>
              </thead>
              <tbody>
                <% menu.submenus.each do |submenu| %>
                  <tr>
                    <td class="col-xs-4">
                      <%= submenu.name %>
                    </td>
                    <td class="col-xs-4">
                      <%= (submenu.event_type == 'click') ? submenu.key_value_name : submenu.url %>
                    </td>
                    <td class="col-xs-4">

                      <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          操作<span class="caret"></span>
                        </button>
                          <ul class="dropdown-menu pull-right" role="menu">
                            <li><%= link_to t('Show'), backend_shop_system_config_menu_path(@current_shop.slug,@system_config ,submenu)%>
                            </li>
                            <li>
                              <%= link_to t('Edit'), edit_backend_shop_system_config_menu_path(@current_shop.slug,@system_config, submenu)%>
                            </li>
                            <li><%= link_to "从当前公众账号中移除该菜单按钮", backend_shop_system_config_menu_path(@current_shop.slug,@system_config, submenu, delete: false), method: :delete, data: { confirm: "确定要从当前公众账号中移除该菜单按钮\"#{submenu.name}\"吗?" }%></li>
                            <li><%= link_to "从所有公众账号中中删除该菜单按钮", backend_shop_system_config_menu_path(@current_shop.slug,@system_config, submenu, delete: true), method: :delete, data: { confirm: "确定要从所有公众账号中中删除该菜单按钮\"#{submenu.name}\"吗?" }%></li>
                          </ul>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="modal fade" id="copy-to-system-config-modal">
  <form role="form" action="<%= copy_menu_to_other_backend_shop_system_config_path(@current_shop.slug, @system_config)%>" data-remote="true" method="put">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">复制菜单到其他公众号</h4>
        </div>
        <div>
          <div id="copy-to-system-config-error" class="alert alert-danger" style="display:none"></div>
          <div id="copy-to-system-config-success" class="alert alert-success" style="display:none"></div>
        </div>
        <div class="modal-body">
            <% @current_shop.system_configs.where.not(id:@system_config.id).each do|system_config|%>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="target_system_config_ids[]" value="<%= system_config.id%>"> <%= system_config.public_account_name %>
                </label>
              </div>
            <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <input type="submit" class="btn btn-primary" value="开始复制">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->
