- if @account.errors.any?
  #error_explanation
    %h2
      = @account.errors.count
      个错误导致无法更新密码:
    %ul
      - @account.errors.full_messages.each do |msg|
        %li= msg
.form-group
  = f.label :login_id, class: "control-label col-md-3"
  = @account.login_id
.form-group
  = f.label :old_password, class: "control-label col-md-3"
  .col-md-7= f.password_field :old_password, class: "form-control"
.form-group
  = f.label :new_password, class: "control-label col-md-3"
  .col-md-7= f.password_field :password, class: "form-control"
.form-group
  = f.label :new_password_confirmation, class: "control-label col-md-3"
  .col-md-7= f.password_field :password_confirmation, class: "form-control"
%center.actions= f.submit class: "btn btn-primary"