<h1><%= t('Reset Password')%></h1>
<div class="panel panel-default">
	<div class="panel-heading">
		密码设置
	</div>
	<div class="panel-body">
<%= form_for(@account, url: get_update_password_account_path(@account) ) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= @account.errors.count %> 个错误导致无法更新密码:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login_id %>
    <%= @account.login_id%>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
</div>
</div>
