<%unless params[:edit]%>
  <div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
    <ul class="wizard-steps">
      <li data-target="#step1" class="<%= 'active' if (@executed_steps.include?(:branch_info) rescue nil) || step == :create %>">
        <span class="step">1</span>
        <span class="title">基本信息</span>
      </li>

      <li data-target="#step2" class="<%= 'active' if (@executed_steps.include?(:detail_info) rescue nil) %>">
        <span class="step">2</span>
        <span class="title">详细信息</span>
      </li>

      <li data-target="#step3" class="<%= 'active' if (@executed_steps.include?(:awards) rescue nil) %>">
        <span class="step">3</span>
        <span class="title">公司荣誉</span>
      </li>

      <li data-target="#step4" class="<%= 'active' if (@executed_steps.include?(:delivery_setting) rescue nil) %>">
        <span class="step">4</span>
        <span class="title">外卖设置</span>
      </li>

      <li data-target="#step5" class="<%= 'active' if (@executed_steps.include?(:order_setting) rescue nil) %>">
        <span class="step">5</span>
        <span class="title">接单设置</span>
      </li>
      <li data-target="#step6" class="<%= 'active' if (@executed_steps.include?(:scrachpad_setting) rescue nil) %>">
        <span class="step">6</span>
        <span class="title">刮刮奖设置</span>
      </li>
    </ul>
  </div>
<% end %>