<%= search_form_for @q, url: search_backend_shop_branch_products_path(@current_shop.slug, @current_branch), class: "navbar-form", role: "form", method: :post do |f|%>
  <div class="form-group">
    <%= f.text_field :name_cont, class: "form-control", placeholder: Product.human_attribute_name("name") %>
  </div>
  <div class="form-group">
    <%= f.text_field :stock_gteq, class: "form-control", placeholder: "库存大于" %>
  </div>
  <div class="form-group">
    <%= f.text_field :stock_lteq, class: "form-control", placeholder: "库存小于" %>
  </div>
  <div class="form-group">
    <%= f.submit "搜索", class: "btn btn-default" %>
  </div>
<% end %>