= form_for [:backend, @current_shop, @current_branch, @product_slider] do |f|
  - if @product_slider.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product_slider.errors.count, "error")} prohibited this product_slider from being saved:"
      %ul
        - @product_slider.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :img
    = f.file_field :img
  .field
    = f.label :desc
    = f.text_area :desc, :cols=>80
  .field
    = f.label :product_id
    = f.select :product_id, options_for_select(@current_branch.products.map{|product| [product.name, product.id]}), :include_blank=>true
  .actions
    = f.submit 'ä¿å­˜', :class=>"btn btn-default"
