%h1 需求讨论列表

%table.table.table-striped
  %tr
    %th= PostThread.human_attribute_name(:title)
    %th.col-sm-1= PostThread.human_attribute_name(:account)
    %th.col-sm-1= PostThread.human_attribute_name(:created_at)
    %th.col-sm-1= PostThread.human_attribute_name(:post_count)
    - if current_account.is_admin?
      %th.col-sm-1= PostThread.human_attribute_name(:last_requestd_at)

  - @post_threads.each do |post_thread|
    %tr
      %td
        - if current_account.is_admin? or post_thread.account == current_account
          - if post_thread.current_state == :new
            .label.label-danger
              = post_thread.workflow_state_name
          - else
            .label.label-default
              = post_thread.workflow_state_name
        = link_to post_thread.title, [:backend, post_thread]
        - post_thread.post_thread_labels.each do |label|
          %a{:href=>backend_post_thread_label_path(label)}
            %span.label.label-info= label.name
        - if current_account.is_admin? and post_thread.is_published?
          %span.label.label-success 已发布
      %td
        - if post_thread.account and current_account.is_admin? and (not post_thread.account.is_admin? )
          = link_to post_thread.account.name, [:backend, post_thread.account.shop, post_thread.account]
        - else
          = post_thread.account.name rescue nil
      %td
        - if post_thread.created_at < 3.days.ago
          = post_thread.created_at.strftime("%Y-%m-%d %H:%M:%S")
        - else
          = "#{time_ago_in_words(post_thread.created_at)}前"
      %td= post_thread.posts.count
      - if current_account.is_admin?
        %td
          = post_thread.last_requestd_at.strftime("%Y-%m-%d %H:%M") rescue post_thread.created_at.strftime("%Y-%m-%d %H:%M")
          %br
          = "催促#{post_thread.requested_times||0}次"
%br

= link_to '新建需求讨论帖', new_backend_post_thread_path, :class=>"btn btn-default"
