<%= render "search"%>
<h1>积分消费充值列表</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>类型</th>
      <th>积分数量</th>
      <th>商户</th>
      <th>用户</th>
      <th>备注</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @credits_logs.each do |credits_log| %>
      <tr>
        <td><%= credits_log.credit_log_type_name %></td>
        <td><%= credits_log.credits %></td>
        <td><%= credits_log.branch.name  rescue nil%></td>
        <td><%= link_to (credits_log.user.name || "未知"), get_user_path(credits_log.user) rescue nil %></td>
        <td><%= credits_log.note %></td>
        <td><%= link_to t('Show'), get_credits_log_path(credits_log), :class=>"btn btn-default"%>
          <% if @current_branch.present? and credits_log.is_consume_type? %>
          	<%= link_to '编辑备注', edit_backend_shop_branch_credits_log_path(@current_shop.slug, @current_branch,credits_log), :class=>"btn btn-default" %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pull-right">
	<%= will_paginate @credits_logs , renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</div>
